.todos {
  display: flex;
  margin: 1em auto;
  width: 400px;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  margin: 1em;
  width: 100%;
  justify-content: space-between;
}

.input {
  width: 320px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.item, .finished {
  margin-bottom: 1em;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 4px;
}

.finished {
  text-decoration: line-through;
}
